<html>
  <head>
    <title>My First Webpage</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
    <h1>courses:</h1>
        {% comment %} {% for course in courses %} {% endcomment %}
          <li>title : {{courses.title}}</li>
          <li>teacher : {{courses.teacher}}</li>
          <p>students :</p>
          {% for student in courses.students.all %}
            <li>{{student.fullname}} --</li>
          {% endfor %}
        {% comment %} {% endfor %} {% endcomment %}
</html>
