<html>
  <head>

  </head>
  <body>
    <h1>Courses:</h1>
        <ul>
            {% for course in courses %}
            <li>{{course.title}}:{{course.code}}</li>
            {% endfor %}
        </ul>
    <h2>create new course:</h2>
    <form action={% url "student:enroll_courses" %} method="post">
      {% csrf_token %}
      <ul>
        {% for course in courses %}
        <li>
          <label>
            <input type="checkbox" name="courses" value="{{course.id}}">
            {{course.title}}
          </label>
        </li>
        {% endfor %}
      </ul>
      <botton type="submit">enroll in classes</botton>
      {{ form }}
      <input type="submit" value="create">
    </form>
  </body>
</html>
