<html>
    <head>

    
    </head>
    <body>
        <p>{{message}}</p>
        <form action={% url "student:create_student" %} method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="new student">
        </form>
        <a  class="btn"  href={% url "account:user_logout" %}>logout</a>
        <a  href={% url "account:user_delete_account" %}>delete account!</a>
         <!-- <form id="deleteform" action={% url "account:user_delete_account" %} method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn" onclick="return confirm('are you sure to delete your account?')"> Delete account</button>
        </form>
    </body> -->

</html>